/原始文件
/bert_dataset
/comparison
/correctFile
/newpre
/nodes
/preFile
/restoreFile
/test_set_pinyin_to_character_model
/testFile
/testFileWoLatex
/textFile
/v1result
/v2result
/v3result
/v4result
/v5result
bad_cases.txt
train_set_pinyin_total.txt
test_set.txt
train_set_total.txt
train_set2.txt